<h1>Logic Board</h1>

<p>
    Board version: @RootObject.Version
</p>

<div id="canvas" style="background-color: black; width: 800px; height: 600px">
    <SvgCircuit Circuit="RootObject.Circuit" />
</div>

<h2>Controls</h2>

<button class="btn btn-secondary">NOT</button>
<button class="btn btn-secondary">OR</button>
<button class="btn btn-secondary">AND</button>
<button class="btn btn-secondary">NOR</button>
<button class="btn btn-secondary">NAND</button>
<button class="btn btn-secondary">XOR</button>
<button class="btn btn-secondary">Delete</button>
<button class="btn btn-secondary">Connect</button>


@code {
    [Parameter]
    private Breadstone.LogicCircuit.Model.Complex.RootObject RootObject { get; set; } = new LogicCircuit.Model.Complex.RootObject();

    private void click()
    {

    }
}